* {
    scrollbar-width: none;
}

body {
    margin: 2.5vh 2.5vw;
    padding: 0;
    background-color: black;
}

#site-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video {
    width: 95vw;
    height: 90vh;
    outline: 1px solid white;
    background: #202020;
}

#buttons-div { 
    width: 95vw;
    height: 5vh;
    outline: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}