<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Flask Project</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/global.css')}}">
        <script defer src="{{url_for('static', filename='js/socketio.js')}}"></script>
        <script defer src="{{url_for('static', filename='js/jquery.js')}}"></script>
        {% block header %}{% endblock %}
    </head>
    <body>
        <div id="site-header">
            {% block head %}{% endblock %}
        </div>
        <div id="site-body">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
