{% extends 'base.html' %}

{% block header %}
<script defer src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<video id='video' autoplay playsInline></video>
<div id="buttons-div">
    <button id="share-screen-button">Share Screen</button>
    <div>
        <input type="text" placeholder="Room ID" id="room-id">
        <button id="watch-button">Watch</button>
    </div>
    <div style="display: flex;">
        <input id="link" type="text">
        <button id="copy-link-button">Copy Link</button>
    </div>
</div>
{% endblock %}
